<div *ngIf="subject">
  <h2>{{subject.name}} details!</h2>
  <div><label>id: </label>{{subject.id}}</div>
  <div>
    <label>name: </label>
    <label>{{subject.name}} </label>
    <input [(ngModel)]="subject.name" />
  </div>
  <div>
    <label>teacher: </label>
    <label>{{subject.teacher}} </label>
    <input [(ngModel)]="subject.teacher" />
  </div>
  <!-- <button type="submit"(click)="onUpdate()"class="btn btn-primary">
    {{siEditing? 'Update':'Add'}}
  </button> -->
  <button (click)=onDelete() class="btn btn-danger">Delete</button>
</div>